<h2>Search for Courses to Complete Your Degree</h2>

  <label for="typeahead-focus">Search for a course:</label>
  <div class="input-group form-inline mb-2">
  <input class="input-group mb-3"
    id="typeahead-focus"
    type="text"
    class="form-control"
    placeholder="Search by course name"
    [(ngModel)]="model"
    [ngbTypeahead]="search"
    (focus)="focus$.next($any($event).target.value)"
    (click)="click$.next($any($event).target.value)"
    #instance="ngbTypeahead"
  />
  <span class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" (click)="searchTitle()">Search</button>
  </span>
    <hr>
</div>
<div class="list row">
    <div class="col-md-8">
     
    </div>
    <div class="col-md-6">
      <h4>Course List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let course of courses; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveCourse(course, i)"
        >
         {{course.courseNumber}} {{ course.courseName }}
        </li>
      </ul>

    </div>
    <div class="col-md-6" id="courseSearch" >
      <div *ngIf="currentCourse">
        <h4>Course</h4>
        <div>
          <label><strong>Course Number:</strong></label> {{ currentCourse.courseNumber }}
        </div>
        <div>
          <label><strong>Course Title:</strong></label> {{ currentCourse.courseName }}
        </div>
        <div>
          <label><strong>GE Areas:</strong></label>
          {{ currentCourse.geArea }}
        </div>
        <div>
          <label><strong>Units:</strong></label>
          {{ currentCourse.units }}
        </div>
      </div>
  
      <div *ngIf="!currentCourse">
        <br />
        <p>Please click on a Course...</p>
      </div>
    </div>
  </div>