<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Superior DPR</title>
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="dropdowns.component.css">
  </head>
  <body>
	<h2>Major Required Courses</h2>
    <div class="progress mb-2">
    	<div class="progress-bar" style="width:{{percentCore}}; background-color:{{colorCore}};"role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="22">{{percentCore}}</div>
    </div>
    <form [formGroup]="form0" (ngSubmit)="submitFormCore()" novalidate>
      <div *ngFor="let data of coreCourses; let i=index">
        <label>
          <input name="coreCheckboxes" type="checkbox" [value]="data|json " (change)="onCoreCheckboxChange($event)" [checked]="booleanCoreArray[i]"/>
          {{data.courseNumber}} {{data.courseName}} ({{data.units}})
        </label>
      </div>

      <p class="error" *ngIf="this.form0.controls['checkArray0'].errors?.required">
        Checkbox is required, select at least one value.
      </p>
      <input type="submit" value="Submit">
    </form>
    <hr>   
    
    <h2>Major Electives: 19 Units</h2>
    <h3>At least 12 units from:</h3>
    <div class="progress mb-2">
    	<div class="progress-bar" role="progressbar" style="width:{{percentElectives1}}; background-color:{{colorElectives1}};" aria-valuenow="8" aria-valuemin="0" aria-valuemax="15">{{percentElectives1}}</div>
    </div>
      <form [formGroup]="form1" (ngSubmit)="submitFormElective1()" novalidate>

        <div *ngFor="let data of elective1Courses; let i=index">
          <label>
            <input type="checkbox" [value]="data |json" (change)="onElective1CheckboxChange($event)" [checked]="booleanElectives1Array[i]" />
            {{data.courseNumber}} {{data.courseName}} ({{data.units}})
          </label>
        </div>

        <p class="error" *ngIf="this.form1.controls['checkArray1'].errors?.required">
          Checkbox is required, select at least one value.
        </p>
        <input type="submit" value="Submit">
      </form> 
    <hr>
    <h3>No more than 3 units from:</h3>
    <div class="progress mb-2">
    	<div class="progress-bar" role="progressbar" style="width:{{percentElectives2}}; background-color:{{colorElectives2}};" aria-valuenow="2" aria-valuemin="0" aria-valuemax="4">{{percentElectives2}}</div>
    </div>
    <form [formGroup]="form2" (ngSubmit)="submitFormElective2()" novalidate>

      <div *ngFor="let data of elective2Courses; let i=index">
        <label>
          <input type="checkbox" [value]="data |json" (change)="onElective2CheckboxChange($event)" [checked]="booleanElectives2Array[i]" />
          {{data.courseNumber}} {{data.courseName}} ({{data.units}})
        </label>
      </div>

      <p class="error" *ngIf="this.form2.controls['checkArray2'].errors?.required">
        Checkbox is required, select at least one value.
      </p>
      <input type="submit" value="Submit">
    </form>

    <pre>
    </pre>
    <hr>
    <h3>No more than 4 units from:</h3>
    <div class="progress mb-2">
    	<div class="progress-bar" role="progressbar" style="width:{{percentElectives3}}; background-color:{{colorElectives3}};" aria-valuenow="6" aria-valuemin="0" aria-valuemax="13">{{percentElectives3}}</div>
    </div>
    <form [formGroup]="form3" (ngSubmit)="submitFormElective3()" novalidate>

      <div *ngFor="let data of elective3Courses; let i=index">
        <label>
          <input type="checkbox" [value]="data |json" (change)="onElective3CheckboxChange($event)" [checked]="booleanElectives3Array[i]" />
          {{data.courseNumber}} {{data.courseName}} ({{data.units}})
        </label>
      </div>

      <p class="error" *ngIf="this.form3.controls['checkArray3'].errors?.required">
        Checkbox is required, select at least one value.
      </p>
      <input type="submit" value="Submit">
    </form>
    
    
    <hr>

    <h2>General Education Requirements: 48 units</h2>

  

  <form [formGroup]='parentAreaAForm'>
    <h3>Area A. 9 units, at least 3 units for each sub-area</h3>
      <h4>Oral Communication</h4>
        <select class="custom-select" formControlName="areaA1" >
          <option value="">Choose Course</option>
          <option *ngFor="let course of a1courses" [value]="course|json">
            {{course.courseNumber|json}} {{course.courseName|json}}
          </option>
        </select> 

      <h4>Written Communication</h4>
        <select class="custom-select" formControlName="areaA2" >
          <option value="">Choose Course</option>
          <option *ngFor="let course of a2courses" [value]="course|json">
            {{course.courseNumber}} {{course.courseName}}
          </option>
        </select>  
      
      <h4>Critical Thinking</h4>
      <select class="custom-select" formControlName="areaA3" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of a3courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
      <button type="submit" class="btn btn-success mt-3" (click)='submitFormGeA()'>Save</button>
      <hr>
      
  </form>

  <form [formGroup]='parentAreaBForm' >
    <h3>Area B. Scientific Inquiry and Quantitative Reasoning: 12 units, at least 3 units from each sub-area</h3>
      <h4>Physical Sciences</h4>
      <select class="custom-select" formControlName="areaB1" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of b1courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
      <h4>Life Sciences</h4>
      <select class="custom-select" formControlName="areaB2" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of b2courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
     
      <h4>Laboratory Activity</h4>
        <p>Laboratory courses are marked with an "L" following the course number. 
        At least one laboratory course from GE Sub-areas B1 or B2 must be taken to fulfill the GE Sub-area B3 requirement. 
        Activity courses, which are marked with an "A" following the course number, do not fulfill the GE Sub-area B3 requirement.
        </p>
        <select class="custom-select" formControlName="areaB3" >
          <option value="">Choose Course</option>
          <option *ngFor="let course of b3courses" [value]="course|json">
            {{course.courseNumber}} {{course.courseName}}
          </option>
        </select>
      <h4>Mathematics/Quantitative Reasoning</h4>
      
      <select class="custom-select" formControlName="areaB4" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of b4courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
     
      <h4>Science and Technology Synthesis</h4>
      <select class="custom-select" formControlName="areaB5" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of b5courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
      <button type="submit" class="btn btn-success mt-3" (click)='submitFormGeB()'>Save</button>
  </form>
  
  <h3>Area C. Arts and Humanities: 12 units, at least 3 units from each sub-area and 3 addition units from sub-areas 1 and/or 2</h3>
  <form [formGroup]='parentAreaCForm'> 
    <h4>Visual and Performing Arts</h4>
      <select class="custom-select" formControlName="areaC1" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of c1courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>

      <h4>Literature, Modern Languages, Philosophy and Civilization</h4>
      <select class="custom-select" formControlName="areaC2" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of c2courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
      
      <h4>Arts and Humanities Synthesis</h4>
      <select class="custom-select" formControlName="areaC3" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of c3courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
    
        <pre>
          Students must complete all GE lower-division requirements in Areas A and C before they take any GE C3 Synthesis course. Select one course from the following list:

          *These interdisciplinary courses fulfill units in only one of the three required GE Synthesis areas. All students are required to complete three different Synthesis courses that cover the three required GE Synthesis areas.

          **Course fulfills American Ideals requirement part A (U.S. History and American Ideals).
        </pre>
      <hr>
      <button type="submit" class="btn btn-success mt-3" (click)='submitFormGeC()'>Save</button>
    </form>

  <form [formGroup]='parentAreaDForm'>
    <h3>Area D. Social Sciences: 12 units, at least 3 units from each sub-area</h3>
      <h4>U.S. History and American Ideals</h4>
      <select class="custom-select" formControlName="areaD1" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of d1courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>

      <h4>U.S. Constitution and California Government</h4>
      <select class="custom-select" formControlName="areaD2" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of d2courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
        
      <h4>Social Science: Principles, Methodologies, Value Systems, and Ethics</h4>
      <select class="custom-select" formControlName="areaD3" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of d3courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
        
      <h4>Social Science Synthesis</h4>
      <select class="custom-select" formControlName="areaD4" >
        <option value="">Choose Course</option>
        <option *ngFor="let course of d4courses" [value]="course|json">
          {{course.courseNumber}} {{course.courseName}}
        </option>
      </select>
        <pre>
          Students must complete all GE lower-division requirements in Areas A and D before they take any GE D4 Synthesis course. Select one course from the following list:

          *These interdisciplinary courses fulfill units in only one of the three required GE Synthesis areas. All students are required to complete three different Synthesis courses that cover the three required GE Synthesis areas.

          **Course fulfills American Ideals requirement part B (U.S. Constitution and California Government).
        </pre>     
      <hr>
      <button type="submit" class="btn btn-success mt-3" (click)='submitFormGeD()'>Save</button>
  </form>

  <form [formGroup]='parentAreaEForm' >
    <h3>Area E. Lifelong Learning and Self-Development: 3 units</h3>
    <select class="custom-select" formControlName="areaE" >
      <option value="">Choose Course</option>
      <option *ngFor="let course of ecourses" [value]="course|json">
        {{course.courseNumber}} {{course.courseName}}
      </option>
    </select>

    <button type="submit" class="btn btn-success mt-3" (click)='submitFormGeE()'>Save</button>
  </form>

    <hr>

    <h2>American Institutions: 6 units</h2>
      <p>Courses that satisfy this requirement may also satisfy GE areas D1 and D2.</p>
    
    <hr>

    <h2>American Cultural Perspectives Requirement: 3 units</h2>
      <p>Refer to the University Catalog General Education Program section for a list of courses that satisfy this requirement.  Course may also satisfy major, minor, GE, or unrestricted elective requirements.</p>

    <hr>

    <h2>Graduation Writing Test</h2>
      <p>All persons who receive undergraduate degrees from Cal Poly Pomona must pass the Graduation Writing Test (GWT).  The test must be taken by the semester following completion of 60 units for undergraduates.</p>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="/Angular10Crud/src/assets/js/dropdownMenus.js"></script>
    <script src="/Angular10Crud/src/assets/js/dataRetrieval.js"></script>
  </body>
</html>
