<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Err404NotFound</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="dashboard" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="courses" class="nav-link">Courses</a>
      </li>
      <li class="nav-item">
        <a routerLink="progress" class="nav-link">Progress</a>
      </li>
      

      <li class="nav-item" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">                  
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu dropdown-menu-right">
         <div class="dropdown-divider"></div>
          <a ngbDropdownItem href="/logout" target="_self">Logout</a>
        </div>
      </li>
    </div>

    
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
    
  </div>
</div>
<!--router-outlet></router-outlet-->