<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - Superior DPR</title>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        
                <main>
                    <div class="container-fluid">
                        <h1 class="mt-4">Contact Advising</h1>
                        
                        <p>The College of Science offers advising to students pursuing majors and minors within the College of Science!</p>
                        <div class="row">
                            <div class="card bg-success text-white mb-4">
                                <div class="card-body">Visit the official website here!
                                </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a target="_blank" style="color:powderblue" href="https://www.cpp.edu/sci/advising-center/index.shtml" target="https://www.cpp.edu/sci/advising-center/index.shtml">College of Science Advising Center</a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                            <div class="card bg-warning text-white mb-4">
                                <div class="card-body">Contact Information
                                    <br>
                                    College of Science Advising Center
                                    <br>
                                    California State Polytechnic University, Pomona
                                </div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <p>Email:
                                    <a target="_blank" href="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=sci_advising@cpp.edu" rel="noopener" target="https://mail.google.com/mail/?view=cm&amp;fs=1&amp;tf=1&amp;to=sci_advising@cpp.edu">sci_advising@cpp.edu</a>
                                    </p>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            
    </body>
</html>
